body {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  background-color: black;
  color: white;
  }

.cta {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
  color: white;
}
